doctype html
html(lang='en')
  head
    block header
    script(data-curl-run="/javascripts/run.js" src="/javascripts/lib/curl/src/curl.js")

    script.
      $lang     = "#{paste === undefined ? 'undefined'   : paste.lang.mode}";
      $readonly =  #{paste !== undefined};
      $mode     = "#{paste === undefined ? 'text/plain' : paste.lang.mode}";

  body
    div#container
      div#contents
        block main

    div.clear
    block footer
    
    div.footer#footer-right
      div#github
        a(href="https://github.com/RoxasShadow/Pasteling" target="_blank" title="[#{version}]")
          img(src="/github.png" width="40" height="40" alt="Pasteling on GitHub")

    div.footer#footer-left
      div#help
        p(title="but first you should put the focus on the editor, baka! o///o")
          ='Full screen: F11'